<% if f.error_notification %>
<div class="alert alert-error fade in">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <%= f.error_notification %>
</div>
<% end %>



  <%= f.input :name, :input_html => { :readonly => @readonly, :disabled=>@readonly } %>

  <%= f.input :status, :input_html => { :readonly => @readonly, :disabled=>@readonly } %>


  <!--
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>
  </div>
  -->